

h1 {
    text-align: center;
    color: rgb(18, 36, 31);
}

h2 {
    text-align: center;
    color: rgb(18, 36, 31);
}

p {
    text-align: center;
    color: rgb(18, 36, 31);
}

body {
    background-color: rgba(90, 90, 90, 0.925);
}

    .container{
        text-align: center;
        border: 5px solid;
        border-radius: 15%;
    }
